@model IEnumerable<ConexionMiHogarAPP.Models.Pagos>

@{
    ViewBag.Title = "Index";
}

<h2>Inicio Pagos</h2>

<p>
    @Html.ActionLink("Ingresar Nuevo Pago", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Monto
        </th>
        <th>
            Fecha
        </th>
        <th>
            Forma Pago
        </th>
        <th>
            Rut Tutor
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormaPago.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tutor.rut)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
