@model ConexionMiHogarAPP.Models.FormaPago

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro que deseas eliminar este registro?</h3>
<div>
    <h4>Formas de Pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <!-- <dt>
         @Html.DisplayNameFor(model => model.eliminado)
     </dt>

     <dd>
         @Html.DisplayFor(model => model.eliminado)
     </dd>

     <dt>
         @Html.DisplayNameFor(model => model.fechaEliminado)
     </dt>

     <dd>
         @Html.DisplayFor(model => model.fechaEliminado)
     </dd>-->

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista de Formas de Pago", "Index")
        </div>
    }
</div>
