@model ConexionMiHogarAPP.Models.Certificados

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>¿Estas Seguro que deseas eliminar este registro?</h3>
<div>
    <h4>Certificados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.archivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.archivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trabajador.rut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trabajador.rut)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista de Certificados", "Index")
        </div>
    }
</div>
