@model ConexionMiHogarAPP.Models.Certificados

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Certificados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.archivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.archivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trabajador.rut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trabajador.rut)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Volver a la lista de Certificados", "Index")
</p>
