@model ConexionMiHogarAPP.Models.Pacientes

@{
    ViewBag.Title = "Details";
}

<h2>Detalles Paciente</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.rut)*@
            Rut Paciente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rut)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.nombre)*@
            Nombre Completo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.edad)*@
            Edad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.enfermedades)*@
            Enfermedades
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enfermedades)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.cobertura)*@
            Cobertura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cobertura)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.medicamentos)*@
            Medicamentos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medicamentos)
        </dd>

        

        @*<dd>
            @Html.DisplayFor(model => model.difunto)
            Difunto
        </dd>*@

        <dt>
            @*@Html.DisplayNameFor(model => model.dependencia)*@
            Dependencia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dependencia)
        </dd>


        @*<dd>
            @Html.DisplayFor(model => model.eliminado)
        </dd>*@

        

        @*<dd>
            @Html.DisplayFor(model => model.fechaEliminado)
        </dd>*@

        <dt>
            @*@Html.DisplayNameFor(model => model.Tutor.rut)*@
            Rut Tutor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.rut)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Volver al Inicio", "Index")
</p>
