@model ConexionMiHogarAPP.Models.Trabajador

@{
    ViewBag.Title = "Create";
}

<h2>Crear trabajador</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Trabajador</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        Rut Trabajador
        <div class="col-md-10">
            @Html.EditorFor(model => model.rut, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.rut, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        Nombre
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        Cargo
        <div class="col-md-10">
            @Html.DropDownList("idCargo", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idCargo, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        Correo
        <div class="col-md-10">
            @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control", @required = "", @minlength="9" } })
            @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        Comuna
        <div class="col-md-10">
            @Html.DropDownList("idComuna", null, htmlAttributes: new { @class = "form-control", @required = "" })
            @Html.ValidationMessageFor(model => model.idComuna, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        Clave
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.clave, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })*@
            <input type="password" name="clave" required="" size="143" maxlength="8" />
        </div>
    </div>

    <!--<div class="form-group">
        @Html.LabelFor(model => model.eliminado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.eliminado)
                @Html.ValidationMessageFor(model => model.eliminado, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fechaEliminado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fechaEliminado, new { htmlAttributes = new { @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.fechaEliminado, "", new { @class = "text-danger" })
        </div>
    </div>-->

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-default" />
        </div>
    </div>
</div>
}
<h3>@ViewBag.Message</h3>
<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>
